body {
    background-color: #FFFFFF;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Red Hat Display', sans-serif;
}

/* Estilos del contenedor general */
.general-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.headerlogo {
    width: 100px;
    height: 25px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 40px;
    filter: invert(100%);
    background-image: url(./assets/Dribbble_logo_black.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Estilos del side bar */

.sidebar {
    width: 450px;
    height: 100vh;
    overflow: hidden;
}

/* Estilos del contenedor derecho */

.container-rigth {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Estilo del contenedor */
.container {
    width: fit-content;
    height: fit-content;
    padding: 20px 20px 0px 20px;
    margin-left: 100px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
}

/* Estilo de los títulos */
h1 {
    color: #0D0C22;
    margin-bottom: 32px;
}

/* Estilo del formulario */
form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-weight: 200;
    margin-bottom: 4px;
    margin-top: 14px;
    color: #0D0C22;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
}

input[type="text"],
input[type="password"] {
    padding: 18px 20px;
    margin: 0;
    border: 2px solid #e7e7e9;
    border-radius: 12px;
    width: 100%;
    font-size: 14px;
    color: #0d0c22;
}

button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 24px;
    background-color: #000000;
    color: #fff;
    padding: 16px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

button:hover {
    background-color: #363636;
}

/* Mensaje de error */
.error {
    color: red;
    margin-top: 10px;
    margin-bottom: 24px;
}

/* Página de bienvenida */
.welcome-page {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 20px auto;
}

/* Página de bienvenida - título */
.welcome-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Página de bienvenida - mensaje */
.welcome-message {
    color: #555;
}
